[init]
	defaultBranch = main

[user]
	name = Abhik Jain
	email = abhikjain360@gmail.com
	signingkey = D21FC5E2DBA12FC1

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
	line-numbers = true
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true

[interactive]
    diffFilter = delta --color-only
