! Base colors
!*.foreground:  #E1E1E1
!*.background:  #1c2023
!*.cursorColor: #778899
!
!*.color0:  #111111
!*.color1:  #bf616a
!*.color2:  #a3be8c
!*.color3:  #ebcb8b
!*.color4:  #77aaff
!*.color5:  #b48ead
!*.color6:  #96b5b4
!*.color7:  #E1E1E1
!*.color8:  #919ba0
!*.color9:  #bf616a
!*.color10: #a3be8c
!*.color11: #ebcb8b
!*.color12: #77aaff
!*.color13: #b48ead
!*.color14: #96b5b4
!*.color15: #c0c5ce

! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

! xterm
xterm*termName: xterm-256color
!xterm*font: Ubuntu Mono Nerd Font:size=20:antialias=true:autohint:true
xterm*font: Symbola:size=20:antialias=true:autohint:true
xterm*faceName: Ubuntu Mono Nerd Font:size=20:antialias=true:autohint:true
xterm*loginShell: true
xterm*vt100*geometry: 90x34
xterm*saveLines: 2000
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*eightBitInput: false
xterm*foreground: #F8F8F2
xterm*background: #282A36
xterm*color0:     #000000
xterm*color8:     #4D4D4D
xterm*color1:     #FF5555
xterm*color9:     #FF6E67
xterm*color2:     #50FA7B
xterm*color10:    #5AF78E
xterm*color3:     #F1FA8C
xterm*color11:    #F4F99D
xterm*color4:     #BD93F9
xterm*color12:    #CAA9FA
xterm*color5:     #FF79C6
xterm*color13:    #FF92D0
xterm*color6:     #8BE9FD
xterm*color14:    #9AEDFE
xterm*color7:     #BFBFBF
xterm*color15:    #E6E6E6

! URxvt
URxvt*saveline: 15000
URxvt*termName: rxvt-256color
URxvt*iso14755: false
URxvt*depth: 32
URxvt*background: [95]#1C2023
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*internalBorder: 0
URxvt*externalBorder: 0
URxvt*letterSpace: -1
URxvt.font: xft:monospace:size=11
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.urlLauncher: exo-open
URxvt.underlineURLs: true
URxvt.urlButton: 1
URxvt.geometry: 90x34
URxvt.tabbed.tabbar-fg: 4
URxvt.tabbed.tabbar-bg: 16
URxvt.tabbed.tab-fg: 15
URxvt.tabbed.tab-bg: 4
URxvt*buffered: false

