;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/polybar/polybar
;
;   The README contains a lot of information
;
;==========================================================

[colors]
background = ${xrdb:color0}
background-alt = ${xrdb:color8}
foreground = ${xrdb:color15}
foreground-alt = ${xrdb:color7}
primary = ${xrdb:color4}
secondary = ${xrdb:color12}
alert = ${xrdb:color1}

[bar/bar0]
width = 100%
height = 27
radius = 0.0
fixed-center = false

background = ${colors.background}
foreground = ${colors.foreground}

line-size = 4
line-color = ${xrdb:color3}

border-size = 0
border-color = #00000000

padding-right = 1
padding-left = 1

module-margin-left = 2

font-0 = "Fira Code:pixelsize=13;0"
font-1 = "DejaVu Sans:pixelsize=13;1"

modules-left = leftwm
modules-center = xwindow
modules-right = pulseaudio cpu memory temperature battery wlan date

tray-position = right
tray-padding = 2

cursor-click = pointer
cursor-scroll = ns-resize

;override-redirect = true
enable-ipc = true

[module/leftwm]
type = custom/script
exec = leftwm-state -w 0 -t /home/kaka/.config/leftwm/themes/gruvbox/template.liquid
tail = true

[module/xwindow]
type = internal/xwindow
label = %title:0:50:...%

[module/cpu]
type = internal/cpu
interval = 2
format-underline = ${xrdb:color3}
label = %percentage:2%%

[module/memory]
type = custom/script
exec = memory_leftwm
interval = 2
format-underline = ${xrdb:color2}

[module/wlan]
type = internal/network
interface = wlp1s0
interval = 3.0

format-connected = <label-connected>
format-connected-underline = ${xrdb:color5}
label-connected = %essid%

ramp-signal-foreground = ${colors.foreground-alt}

[module/date]
type = internal/date
interval = 5

date = %d-%m-%Y (%a)

time = %H:%M:%S

format-prefix-foreground = ${colors.foreground-alt}
format-underline = ${xrdb:color6}

label = %date% %time%

[module/pulseaudio]
type = internal/pulseaudio

format-volume = <label-volume> <bar-volume>
label-volume = VOL %percentage%%
label-volume-foreground = ${root.foreground}

label-muted = muted
label-muted-foreground = #666

bar-volume-width = 5
bar-volume-foreground-0 = #55aa55
bar-volume-foreground-1 = #55aa55
bar-volume-foreground-2 = #55aa55
bar-volume-foreground-3 = #55aa55
bar-volume-foreground-4 = #55aa55
bar-volume-foreground-5 = #f5a70a
bar-volume-foreground-6 = #ff5555
bar-volume-gradient = false
bar-volume-indicator = |
bar-volume-indicator-font = 2
bar-volume-fill = ─
bar-volume-fill-font = 2
bar-volume-empty = ─
bar-volume-empty-font = 2
bar-volume-empty-foreground = ${colors.foreground-alt}

[module/battery]
type = internal/battery
full-at = 99
battery = BAT0
adapter = ADP0
poll-interval = 5

label-full = ⚡
label-charging = %percentage%%
label-discharging = %percentage%%

format-full = <label-full>
format-charging = <animation-charging> <label-charging>
format-discharging = <label-discharging>

animation-charging-0 = ▂
animation-charging-1 = ▄
animation-charging-2 = ▆
animation-charging-3 = ▇
bar-charging-foreground = ${xrdb:color11}
format-charging-underline = ${xrdb:color13}
format-discharging-underline = ${xrdb:color13}
format-full-underline = ${xrdb:color13}
bar-full-foreground = ${xrdb:color10}

animation-charging-framerate = 1000


[module/temperature]
type = custom/script
exec = cputemp_leftwm
tail = false
format-underline = #fe8019

; vim:ft=dosini
